:root {
  --font-family: 'Roboto', sans-serif;

  --accent-color: #ff6b08;
  --accent-color-secondary: #ff001b;

  --main-bg-color: #ffffff;
  --dark-bg-color: #000000;
  --overlay-bg-color: #0000008f;
  --footer-bg-color: #f7f7f7;

  --light-text-color: #ffffff;
  --dark-text-color: #000000;
  --footer-text-color: #545454;
  --movie-modal-text-color: #8c8c8c;
  --alternate-text-color: #757575;

  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
