<header>
  <div class="container">
    <nav class="main-nav">
      <a href="./index.html" class="logo">
        <svg class="logo__icon" width="24px" height="24px">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka </span>
      </a>
      <ul class="nav-list">
        <li class="nav-list__item">
          <a href="./index.html" class="nav-list__link nav-list__link_current"
            >Home</a
          >
        </li>
        <li class="nav-list__item">
          <a href="./library.html" class="nav-list__link">my library</a>
        </li>
        <li class="nav-list__item">
          <a href="#" class="nav-list__link" data-auth-open>Login</a>
        </li>
        <li class="nav-list__item hidden">
          <a href="#" class="nav-list__link" data-auth-sign-out> Sign out</a>
        </li>
      </ul>
    </nav>
    <form class="search-bar" autocomplete="off">
      <input
        name="search"
        type="text"
        class="search-bar__input"
        placeholder="Movie search"
      />
      <button type="submit" class="search-bar__btn">
        <svg class="search-bar__icon" width="12px" height="12px">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <span class="error-msg transparent"
      >Search result not successful. Enter the correct movie name
    </span>
  </div>
</header>
