<div class="pagination visually-hidden" id="pagination">
  <button
    disabled
    id="btn-left"
    class="pagination-btn pagination-btn_arrow pagination-btn_arrow_left"
  >
    <svg width="16px" height="16px">
      <use href="./images/icons.svg#icon-arrow-left"></use>
    </svg>
  </button>
  <div class="pag-btns">
    <!-- <button
      id="extreme-left"
      class="pagination-btn pagination-btn_numbered pagination-btn_numbered_left"
    >
      1
    </button>

    <button
      disabled
      id="dots-left"
      class="pagination-btn pagination-btn_dots pagination-btn_dots_left"
    >
      ...
    </button>
    <button class="pagination-btn pagination-btn_numbered">3</button>
    <button class="pagination-btn pagination-btn_numbered">4</button>
    <button
      class="pagination-btn pagination-btn_numbered pagination-btn_active"
    >
      5
    </button>
    <button class="pagination-btn pagination-btn_numbered">6</button>
    <button class="pagination-btn pagination-btn_numbered">7</button>
    <button
      id="dots-right"
      class="pagination-btn pagination-btn_dots pagination-btn_dots_right"
    >
      ...
    </button>
    <button
      id="extreme-right"
      class="pagination-btn pagination-btn_numbered pagination-btn_numbered_right"
    >
      20
    </button> -->
  </div>

  <button
    id="btn-right"
    class="pagination-btn pagination-btn_arrow pagination-btn_arrow_right"
  >
    <svg width="16px" height="16px">
      <use href="./images/icons.svg#icon-arrow-right"></use>
    </svg>
  </button>
</div>
