.modal-card-buttons__btn {
  width: 170px;
  color: var(--light-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .modal-card-buttons__btn {
    margin: 0;
  }
}
