.pagination {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.pag-btns {
  display: flex;
}

.pagination-btn {
  width: 40px;
  height: 40px;
  @include centeredFlex;
  background-color: transparent;
  border: none;
  line-height: 0;
  border-radius: 5px;
}

.pagination-btn_dots {
  display: none;
  @include font(12px, 16px);
  font-weight: 500;

  &:disabled {
    cursor: default;
    color: rgb(175, 175, 175);
  }
}

.pagination-btn_arrow {
  background-color: var(--footer-bg-color);
  color: var(--dark-text-color);

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  & svg {
    stroke: currentColor;
    fill: transparent;
  }

  &:disabled {
    cursor: default;
    color: rgb(175, 175, 175);
  }
}

.pagination-btn_active {
  background-color: var(--accent-color);
  color: var(--light-text-color);
  cursor: default;
}

.pagination-btn_numbered_extreme {
  display: none;
}

@media screen and (min-width: 768px) {
  .pagination-btn_dots {
    display: flex;
  }

  .pagination-btn_numbered_extreme {
    display: flex;
  }
}
