footer {
  padding: 29px 0;
  background-color: var(--footer-bg-color);
}

.footer-credits {
  width: 236px;
  margin: 0 auto;
  @include centeredFlex;
  flex-wrap: wrap;
  gap: 10px;
  @include font(14px, 16px);
  color: var(--footer-text-color);
}

.developers {
  display: flex;
  align-items: center;
}

.developers__icon {
  margin: 0 10px;
  fill: var(--accent-color);
}

.developers__link {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer-credits {
    width: 482px;
    flex-wrap: nowrap;
    gap: 4px;
  }
}
