header {
  padding-top: 40px;
  padding-bottom: 45px;
  background-image: linear-gradient(
      to right,
      var(--overlay-bg-color),
      var(--overlay-bg-color)
    ),
    url(../images/home/home-mobile.jpg);
  background-size: cover;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logo__text {
  display: none;
}

.logo__icon {
  stroke: var(--main-bg-color);
  fill: transparent;
}

.nav-list {
  display: flex;
  gap: 30px;
}

.nav-list__link {
  @include font(12px, 14px);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--light-text-color);

  transition: color var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &_current {
    border-bottom: 3px solid var(--accent-color-secondary);
  }
}

.search-bar {
  margin: 0 auto;
  position: relative;
  width: 280px;
  margin-bottom: 16px;
  border-bottom: 0.5px solid var(--main-bg-color);
}

.search-bar__input {
  width: 100%;
  padding-bottom: 4px;
  border: none;
  background-color: transparent;
  outline: none;
  @include font(14px, 16px);
  color: var(--light-text-color);

  &::placeholder {
    @include font(14px, 16px);
    color: var(--light-text-color);
  }
}

.search-bar__btn {
  position: absolute;
  right: 0;
  bottom: 6px;
  border: none;
  padding: 0;
  line-height: 0;
  transition: color var(--timing-function);
  background-color: transparent;
  color: var(--main-bg-color);

  &:hover {
    color: var(--accent-color);
  }
}

.search-bar__icon {
  stroke: currentColor;
  fill: transparent;
}

.error-msg {
  display: block;
  margin: 0 auto;
  width: 280px;
  @include font(14px, 16px);
  color: var(--accent-color-secondary);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  header {
    background-image: linear-gradient(
        to right,
        var(--overlay-bg-color),
        var(--overlay-bg-color)
      ),
      url(../images/home/home-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-bottom: 81px;
    background-image: linear-gradient(
        to right,
        var(--overlay-bg-color),
        var(--overlay-bg-color)
      ),
      url(../images/home/home-tablet.jpg);
  }

  .logo {
    display: flex;
    align-items: baseline;
    gap: 8px;
  }

  .logo__text {
    display: block;
    @include font(30px, 35px);
    font-weight: 500;
    color: var(--light-text-color);
  }

  .search-bar {
    width: 336px;
    margin-bottom: 20px;
  }

  .error-msg {
    width: 393px;
    @include font(14px, 16px);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  header {
    background-image: linear-gradient(
        to right,
        var(--overlay-bg-color),
        var(--overlay-bg-color)
      ),
      url(../images/home/home-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  header {
    padding-bottom: 80px;
    background-image: linear-gradient(
        to right,
        var(--overlay-bg-color),
        var(--overlay-bg-color)
      ),
      url(../images/home/home-desktop.jpg);
  }

  .logo {
    gap: 10px;
  }

  .search-bar {
    width: 394px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  header {
    background-image: linear-gradient(
        to right,
        var(--overlay-bg-color),
        var(--overlay-bg-color)
      ),
      url(../images/home/home-desktop@2x.jpg);
  }
}
